extends layout

block content
  .container
    .row-fluid
      .span3
        .well.sidebar-nav
          if locals.sidebars
            each sidebar in sidebars
              ul.nav.nav-list
                each link in sidebar
                  if link.url
                    li
                      a(href='/' + page + '/' + link.url)= link.name
                  else
                    li.nav-header
                      if link.icon
                        i(class=link.icon)
                      span= link.name
      .span9.page
          .hero-unit
            h1= title
            p!= content
